@* @page "/logout"
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authorization
@inject IHttpContextAccessor HttpContextAccessor
@attribute [AllowAnonymous]

<h3>Logout</h3>
@code {
    protected async override Task OnInitializedAsync() {
        await HttpContextAccessor.HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
        Navigation.NavigateTo("/login");
    }
} *@

@page "/logout"
@inject NavigationManager Navigation
@inject IJSRuntime js

@code {
    protected async override void OnAfterRender(bool firstRender) {
        if (!firstRender) return;

        await js.InvokeVoidAsync("eraseCookie", "userAuth");
        Navigation.NavigateTo("/login");
    }
}