<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../gui.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar-container">
            <div class="navbar-links navbar-links-left">
                <a href="index.html">Assembly Line</a>
                <a href="about.html">Catalog</a>
                <a href="contact.html">Stock</a>
            </div>
            <div class="navbar-logo">
                <img src="../img/logo.png" alt="logo">
            </div>
            <div class="navbar-links navbar-links-right">
                <a href="login.html">Queues</a>
                <a href="register.html">Profile</a>
                <a href="register.html">Production History</a>
            </div>
        </div>
    </header>
</body>
</html>