@font-face {
    font-family: "Minecraftia";
    src: url("font/Minecraftia-Regular.ttf") format("truetype");
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #353535;
}

.center {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0;
}

dialog {
    border: none !important;
    border-radius: calc(5px * var(--ratio));
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 0;
    background: transparent;
}

.mc-container {
    width: auto;
    height: auto;
    background-color: #c6c6c6;
    
    /** MC-style Border **/
    border-radius: 15px;
    border-style: solid;
    border-width: 12px 12px 12px 12px;
    -moz-border-image: url(img/mc_ui_template.png) 5 5 5 5 repeat repeat;
    -webkit-border-image: url(img/mc_ui_template.png) 5 5 5 5 repeat repeat;
    -o-border-image: url(img/mc_ui_template.png) 5 5 5 5 repeat repeat;
    border-image: url(img/mc_ui_template.png) 5 5 5 5 repeat repeat;

    font-family: "Minecraftia";
    color: #3f3f3f;

    & > .title {
        font-size: larger;
        font-weight: bold;
        width: 100%;
        height: 35px;

        & > .close {
            padding: 0;
            margin-right: 10px;
            margin-top: 5px;
            border: none;

            float: right;
            cursor: pointer;

            font-family: "Minecraftia";
            color: #3f3f3f;

            background-color: transparent;
        }
    }

    /* Fix font offset - The font has a ton of whitespace below it's glyphs, and needs to be pushed down. */
    & p, label {
        display: inline-block;
        line-height: 0;

        &::after {
            content: '';
            display: inline-block;
            height: 2em;
        }
    }

    & label {
        margin-right: 10px;
    }
}

.mc-inner-container {
    --_width: var(--width, auto);
    --_height: var(--height, calc(var(--target-height) - 90px)); /* 30px for .mc-container border, 10px for gap, 15px for our border, 35px for title */

    display: grid;
    align-content: start;
    justify-content: start;
    align-items: start;
    grid-auto-flow: row;
    gap: 10px;
    padding: 10px;
    width: var(--_width);
    /* height: calc(var(--target-height) - 90px);  */
    height: var(--_height); 
    background-color: #212121;

    border-radius: 15px;
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    -moz-border-image: url(img/mc_ui_inner_template.png) 5 5 5 5 repeat repeat;
    -webkit-border-image: url(img/mc_ui_inner_template.png) 5 5 5 5 repeat repeat;
    -o-border-image: url(img/mc_ui_inner_template.png) 5 5 5 5 repeat repeat;
    border-image: url(img/mc_ui_inner_template.png) 5 5 5 5 repeat repeat;

    font-family: "Minecraftia";
    color: #3f3f3f;
}

.mc-slot-container {
    display: grid;
    align-content: center;
    justify-content: start;
    align-items: center;
    grid-auto-flow: column;
}

.mc-slot {
    aspect-ratio: 1 / 1;
    width: var(--slot-size, 50px);
    --image: url(img/mc_ui_slot.png);
    
    /** MC-style Border **/
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-image: var(--image) 1 1 1 1 repeat repeat;
    -moz-border-image: var(--image) 1 1 1 1 repeat repeat;
    -webkit-border-image: var(--image) 1 1 1 1 repeat repeat;
    -o-border-image: var(--image) 1 1 1 1 repeat repeat;

    & > div {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &:hover {
        --image: url(img/mc_ui_slot_highlight.png);
    }

    &.disabled {
        filter: grayscale(1);
        --image: url(img/mc_ui_slot_disabled.png);
        cursor: not-allowed;

        & > div {
            pointer-events: none;
        }
    }
}

.mc-item {
    position: relative;
    user-select: none;

    & > .mc-item-count {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 10px;
        color: #ffffff;

        display: inline-block;
        line-height: 0;

        &::after {
            content: '';
            display: inline-block;
            height: 2em;
        }
    }
}

.mc-button {
    --image: url(img/mc_ui_button.png);
    --_bg_width: 13;
    --_bg_height: 13;
    --_rwidth: var(--width, 300);
    --_rheight: var(--height, 30);
    --_width: calc(var(--_rwidth) * 1px);
    --_height: calc(var(--_rheight) * 1px);

    width: var(--_width);
    height: var(--_height);
    background-image: url(img/mc_ui_button_bg.png);
    background-size: calc(calc(var(--_rwidth) / var(--_bg_width)) * 1px) calc(calc(var(--_rheight) / var(--_bg_height)) * 1px);
    background-repeat: repeat;

    border-style: solid;
    border-width: 9px 9px 9px 9px;
    -moz-border-image: var(--image) 3 3 3 3 repeat repeat;
    -webkit-border-image: var(--image) 3 3 3 3 repeat repeat;
    -o-border-image: var(--image) 3 3 3 3 repeat repeat;
    border-image: var(--image) 3 3 3 3 repeat repeat; 

    &:hover {
        --image: url(img/mc_ui_button_highlight.png);
    }

    &.disabled {
        --image: url(img/mc_ui_button_disabled.png);
        background-image: url(img/mc_ui_button_disabled_bg.png);

        filter: grayscale(1);
        cursor: not-allowed;

        & > * {
            pointer-events: none;
            color: #474747 !important;
        }
    }
    
    & > * {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        pointer-events: none;
        user-select: none;
    }

    &.icon {
        --_size: calc(var(--width, 20px) + 0px);     

        width: var(--_size);
        height: var(--_size);
        margin-right: 5px;
    }
}

.mc-textarea {
    resize: none;

    width: calc(var(--width, 300px) + 8px);
    height: calc(var(--height, 30px) + 8px);

    border: #a0a0a0 3px solid;
    background-color: #000000;

    font-family: "Minecraftia";
    color: #ffffff;

    &::-webkit-scrollbar {
        background: transparent;
        width: 12px;
    }
      
    &::-webkit-scrollbar-track {
        background-color: #8b8b8b;
        border: #c0c0c0 2px solid;
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: red;
        background: url("img/mc_ui_scroll_thumb.png") repeat-y;
        height: 15px;
    } 
}

/* Outer container for the progress bar */
.mc-progress-bar {
    --_width: calc(var(--width, 300px) + 0px);
    --_height: calc(var(--height, 10px) + 0px);

    width: var(--_width);
    height: var(--_height);
    background: url("img/experience_bar_background.png") no-repeat;
    background-size: var(--_width) var(--_height);
    position: relative;
    overflow: hidden;

    & > .mc-progress-bar-fill {
        width: var(--progress, 0%);
        height: 100%;
        background: url("img/experience_bar_progress.png") no-repeat;
        background-size: var(--_width) var(--_height);
        transition: width 0.1s ease;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.mc-slider {
    --_chevrons: var(--chevrons, 1);
    --_width: calc(var(--width, 300px) + 0px);
    --_height: calc(var(--height, 10px) + 0px);
    --_cWidth: var(--chevron-width, calc(var(--_width) / var(--_chevrons)));
    --_progress: calc(var(--progress, 0));
    --_full-width: calc(var(--_width) * var(--progress));

    position: relative;
    width: var(--_width);
    height: var(--_height);

    input {
        --border-radius: 6px;

        -webkit-appearance: none;
        appearance: none;
        position: absolute;
        width: 100%;
        height: var(--_height);
        margin: 0;
        background: url("img/mc_slider_chevron.png") repeat-x; /* Texture for the unfilled part */
        background-size: var(--_cWidth) var(--_height);
        border: none;
        outline: none;
        /* position: relative; */
        border-radius: var(--border-radius);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: var(--_full-width); /* Filled portion width */
            height: 100%;
            border-radius: var(--border-radius);
            background: url("img/mc_slider_chevron_progress.png") repeat-x; /* Texture for the filled part */
            background-size: var(--_cWidth) var(--_height);
            z-index: 1;
            pointer-events: none; /* Allow slider interactions */
        }
        
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 5px;
            height: calc(var(--_height) + 4px);
            background: #C0C0C0;
            background-size: contain;
            border: #808080 1px solid;
            cursor: pointer;
            position: relative;
            z-index: 3;
        }
    } 

    & > .mc-slider-progress {
        position: absolute;
        /* top: 50%; */
        left: 50%;
        width: 10px;
        height: 10px;
        z-index: 2;
        /* background: red; */
        color: green;

        user-select: none;
        display: inline-block;
        line-height: 1.5em;
        text-shadow: 0px 0px 0 rgb(45,88,10),
            1px 1px 0 rgb(38,81,3),
            2px 2px 0 rgb(30,73,-5),
            0px 0px 6px rgba(0,0,0,.2); 
    }
}

.mc-tooltip {
    --background: #100010;
    --border-top: rgba(40,0,129,1);
    --border-bottom: rgba(80,0,255,1);

    position: absolute;
    z-index: 100;
    min-width: 10px;
    min-height: 10px;

    padding: 10px;

    font-family: "Minecraftia";
    font-size: 10px;
    color: #ffffff;
    user-select: none;

    background: var(--background);
    border-radius: 5px;

    &::before {
        --inset: 2px;

        content: " ";
        position: absolute;
        top: var(--inset);
        left: var(--inset);
        right: var(--inset);
        bottom: var(--inset);
        border-image: linear-gradient(180deg, rgba(40,0,129,1) 0%, rgba(80,0,255,1) 100%) 0.5;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
    }

    .mc-tooltip-title {
        font-weight: bold;
        font-size: 12px;
        color: #ffffff;
        text-shadow: 0px 0px 0 rgb(168, 168, 168),
            1px 1px 0 rgb(114, 114, 114),
            1px 1px 0 rgb(114, 114, 114),
            0px 0px 6px rgba(0,0,0,.2);
    }
    
    .mc-tooltip-description {
        font-weight: bold;
        font-size: 12px;
        color: #545454;
        text-shadow: 0px 0px 0 #151515,
            1px 1px 0 #151515,
            2px 2px 0 #151515,
            0px 0px 6px rgba(0,0,0,.2);
    }
}

i.mc-accept {
    color: green;
    background: url("img/mc_accept.png") no-repeat;
    background-size: contain;

    width: 100%;
    height: 100%;

    &:hover {
        background: url("img/mc_accept_highlight.png") no-repeat;
    }
}

i.mc-reject {
    color: red;
    background: url("img/mc_reject.png") no-repeat;
    background-size: contain;

    width: 100%;
    height: 100%;

    &:hover {
        background: url("img/mc_reject_highlight.png") no-repeat;
    }
}

.mc-frame {
    /* background: url(img/mc_ui_frame.png);
    background-position: 2px 2px;
    background-size: 20px 20px; */

    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url(img/mc_ui_frame.png) 4 4 4 4 repeat repeat;
    -moz-border-image: url(img/mc_ui_frame.png) 4 4 4 4 repeat repeat;
    -webkit-border-image: url(img/mc_ui_frame.png) 4 4 4 4 repeat repeat;
    -o-border-image: url(img/mc_ui_frame.png) 4 4 4 4 repeat repeat;

    img {
        width: fit-content;
        height: 100%;
    }
}




.italic {
    font-style: italic;
  }

  .bold {
    font-weight: bolder;
  }

  .faded-red {
    color: rgba(255, 0, 0, 0.7); /* Faded red */
  }

  .green {
    color: green;
  }

  .blue {
    color: blue;
  }

  .rainbow {
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
  }


/* ============== Expand/Collapse ============== */
@keyframes expand-box {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: var(--target-width, 100px);
        height: 0;
    }
    100% {
        width: var(--target-width, 100px);
        height: var(--target-height, 100px);
    }
}

@keyframes collapse-box {
    0% {
        width: var(--target-width, 100px);
        height: var(--target-height, 100px);
    }
    50% {
        width: var(--target-width, 100px);
        height: 0;
    }
    100% {
        width: 0;
        height: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.expand-box {
    --_duration: var(--expand-anim-duration, var(--anim-duration, 0.5s));
    animation: expand-box var(--_duration) forwards;
}

.collapse-box {
    --_duration: var(--collapse-anim-duration, var(--anim-duration, 0.5s));
    animation: collapse-box var(--_duration) forwards;
}

.show-and-expand-box {
    --_show-duration: var(--show-anim-duration, var(--anim-duration, 0.5s));
    --_expand-duration: var(--expand-anim-duration, var(--anim-duration, 0.5s));
    animation: show var(--_show-duration) forwards, expand-box var(--_expand-duration) forwards;
}

.collapse-and-hide-box {
    --_hide-duration: var(--hide-anim-duration, var(--anim-duration, 0.5s));
    --_collapse-duration: var(--collapse-anim-duration, var(--anim-duration, 0.5s));
    animation: collapse-box var(--_collapse-duration) forwards, hide var(--_hide-duration) calc(var(--_collapse-duration) / 2) forwards;
}
/* ============== Expand/Collapse ============== */
