@page "/initial"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<h3>MineBuilds</h3>

<div>
    <button @onclick="GoToLinhaMontagem">Linha de Montagem</button>
    <button @onclick="GoToEditarPerfil">Editar Perfil</button>
    <button @onclick="GoToCatalogo">Catálogo</button>
    <button @onclick="GoToStock">Stock</button>
    <button @onclick="GoToFilaEspera">Fila de Espera</button>
    <button @onclick="GoToConstrucoesAcabadas">Construções Acabadas</button>
</div>

@code {
    private void GoToLinhaMontagem() => Navigation.NavigateTo("/linha-montagem");

    private void GoToEditarPerfil() => Navigation.NavigateTo("/editar-perfil");

    private void GoToCatalogo() => Navigation.NavigateTo("/catalogo");

    private void GoToStock() => Navigation.NavigateTo("/stock");

    private void GoToFilaEspera() => Navigation.NavigateTo("/fila-espera");

    private void GoToConstrucoesAcabadas() => Navigation.NavigateTo("/construcoes-acabadas");
}