@page "/ln"
@rendermode InteractiveServer
@inject IMineBuildsLN facade;
@inject IJSRuntime js

@using Util;

<h3>LN</h3>


<p>@message</p>

@code {
    private string message;

    protected override async Task OnInitializedAsync() {
        // bool isAuthenticated = await facade.authenticate("joao@example.com", "password3");
        // message = "AUTHENTICATE: " + isAuthenticated;
        // bool isUpdated = await facade.updateUtilizador("joao@example.com", "joao@example.com", "TheMan", "123");
        // message = "UPDATED: " + isUpdated;
        // List<Order> orders = await facade.getOrders(3);
        // if (orders != null && orders.Count > 0)
        // {
        //     message = "Orders: \n";
        //     foreach (var order in orders)
        //     {
        //         message += $"Order ID: {order.id}, User ID: {order.idUser}, Order Date: {order.orderDate}\n";
        //     }
        // }
        // else
        // {
        //     message = "No orders found for the user.";
        // }
    }
}
