@page "/ln"
@rendermode InteractiveServer
@inject IMineBuildsLN facade;
@inject IJSRuntime js

@using Util;

<h3>LN</h3>


<p>@message</p>

@code {
    private string message;

    protected override async Task OnInitializedAsync() {
        // bool isAuthenticated = await facade.authenticate("joao@example.com", "password3");
        // message = "AUTHENTICATE: " + isAuthenticated;
    }
}
