@page "/order"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IMineBuildsLN facade;
@inject IJSRuntime js
@using LI4.Common.Dados;
@using LI4.Common.Exceptions.ConstructionExceptions;
@using LI4.Dados;
@using Util;

<h3>Encomendar Blocos</h3>

<div>
    @if (availableBlocks != null && availableBlocks.Any())

    {
        <table>
            <thead>
                <tr>
                    <th>Bloco</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var block in availableBlocks)

                {
                    <tr>
                        <td>@block.name</td>  <!-- Exibe o nome do bloco -->
                        <td>
                            <input type="number" style="width: 100px; padding: 5px;" @bind="orderQuantities[block.id]" />
                        </td>
                        <td>
                            <button @onclick="() => IncrementBlock(block.id)">+</button>
                            <button @onclick="() => DecrementBlock(block.id)">-</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else

    {
        <p>Loading available blocks...</p>
    }
</div>

<button @onclick="ConfirmOrder">Confirmar Encomenda</button>
<button @onclick="NavigateToStock">Voltar ao Stock</button>

<p>@message</p>

@code {

    private IEnumerable<Block>? availableBlocks;



    private Dictionary<int, int> orderQuantities = new();  // A chave aqui é int (usando o Id do bloco)



    private string message = string.Empty;



    protected override async Task OnInitializedAsync()

    {

        // Obtém todos os blocos

        availableBlocks = await facade.getAllBlocksAsync();



        if (availableBlocks != null)

        {

            foreach (var block in availableBlocks)

            {

                orderQuantities[block.id] = 0;  // Inicializa a quantidade do bloco com 0

                Console.WriteLine(block.id);

            }

        }

    }



    private void IncrementBlock(int blockId)  // Incrementa a quantidade de um bloco

    {

        if (orderQuantities.ContainsKey(blockId))

        {

            orderQuantities[blockId]++;

        }

    }



    private void DecrementBlock(int blockId)  // Decrementa a quantidade de um bloco

    {

        if (orderQuantities.ContainsKey(blockId) && orderQuantities[blockId] > 0)

        {

            orderQuantities[blockId]--;

        }

    }



    private async Task ConfirmOrder()

    {

        var orderId = await facade.createOrderAsync(1, orderQuantities);

        if (orderId > 0)

        {

            message = $"Encomenda criada com sucesso! ID: {orderId}";

        }

        else

        {

            message = "Erro ao criar encomenda.";

        }

    }



    private void NavigateToStock()

    {

        NavigationManager.NavigateTo("/stock");

    }
}

