@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LI4</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
		
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                Login
            </NavLink>
        </div> * @

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                Register
            </NavLink>
        </div> * @
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit-profile">
                Edit Profile
            </NavLink>
        </div> * @
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                Profile
            </NavLink>
        </div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="constructions/catalog">
                Catalog
            </NavLink>
        </div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="constructions/completedConstructions">
                Completed Constructions
            </NavLink>
        </div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="constructions/assemblyLines">
                Assembly Lines
            </NavLink>
        </div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="constructions/waitingLine">
                Waiting Line
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stock">
                Stock
            </NavLink>
        </div>
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                View Orders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                Order
            </NavLink>
        </div> * @
    </nav>
</div>

 *@

<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-side">
            <div class="navbar-links navbar-links-left">
                <a class="" href="assembly_lines">Assembly Lines</a>
                <a class="" href="catalog">Catalog</a>
                <a class="" href="stock">Stock</a>
            </div>
        </div>
        <a class="navbar-logo" href="">
            <img src="../img/logo.png" alt="logo">
        </a>
        <div class="navbar-side">
            <div class="navbar-links navbar-links-right">
                <a class="" href="queue">Queues</a>
                <a class="" href="profile">Profile</a>
                <a class="" href="history">Production History</a>
            </div>
        </div>
    </div>
</div>