<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LI4</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
		
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                Login
            </NavLink>
        </div> *@

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                Register
            </NavLink>
        </div> *@
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit-profile">
                Edit Profile
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                Profile
            </NavLink>
        </div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="constructions/catalog">
                Catalog
            </NavLink>
        </div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="constructions/completedConstructions">
                Completed Constructions
            </NavLink>
        </div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="constructions/assemblyLines">
                Assembly Lines
            </NavLink>
        </div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="constructions/waitingLine">
                Waiting Line
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stock">
                Stock
            </NavLink>
        </div>
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                View Orders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                Order
            </NavLink>
        </div> *@
    </nav>
</div>

